*{
    margin:0;
    padding:0;
    box-sizing: border-box;

    /* debugging */
    /*border: 1px solid red;*/

    font-family: monospace;
    color: white;
    
}

body{
    background-color: #222;

}

p {
    color: white;
    font-size: 1.3em;
}

button{
    outline: none;
    background-color: black;
    color: white;
    font-size: 1.3em;
}

h1, h2 {
    color: rgb(177, 177, 85);
    text-align: center;
}

li {
    list-style: none;
}

/* hide class used to toggle certain elements from view port */

/* outer container section */

.outer-container {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

/* top bar container */

.top-bar p {
    float: right;
}

/* inner container section */

.inner-container {
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* header/quiz intro section */

.quiz-intro, main {
    margin-bottom: 10vh;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #3b3b3b;
}

.quiz-intro p {
    text-align: center;
}

.quiz-intro button {
    display: block;
    margin: 0 auto;
}



/* main quiz section */


/* question screen section */

#question-screen ul li button {
    color: white;
}


/* finsih screen section */

.quiz-finish-screen {
    display: block;
}


/* highscore screen section */
.highscores-screen ol {
    overflow-y: scroll;
}

.hide {
    display: none;
}